projects/02-autonomous-support-agent/n8n/workflow.json
{
  "name": "Autonomous Support Agent - Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "b2c3d4e5-0001-4000-8000-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-300, 300],
      "notesInFlow": true,
      "notes": "Fires on each incoming Telegram message."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You are an intent classifier for a support inbox. Return JSON with keys: category (one of question, bug_report, billing, feature_request, complaint, other), priority (low|normal|high), escalate (boolean), language (ISO 639-1). Be conservative: if unsure, escalate=true.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify($json.message.text) }} }\n  ]\n}",
        "options": {
          "retry": { "retry": true, "maxTries": 3, "waitBetweenTries": 1500 },
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "Classify Intent (LLM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-80, 300],
      "notesInFlow": true,
      "notes": "LLM intent classification with JSON mode. Retries on transient errors."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p1",
              "name": "intent",
              "value": "={{ JSON.parse($json.choices[0].message.content) }}",
              "type": "object"
            },
            { "id": "p2", "name": "text", "value": "={{ $('Telegram Trigger').item.json.message.text }}", "type": "string" },
            { "id": "p3", "name": "chatId", "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}", "type": "string" }
          ]
        }
      },
      "id": "b2c3d4e5-0003-4000-8000-000000000003",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [140, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "version": 2, "caseSensitive": true },
                "combinator": "or",
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent.escalate }}",
                    "rightValue": true,
                    "operator": { "type": "boolean", "operation": "true", "singleValue": true }
                  }
                ]
              },
              "outputKey": "Escalate"
            },
            {
              "conditions": {
                "options": { "version": 2, "caseSensitive": true },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent.category }}",
                    "rightValue": "question",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "outputKey": "Answer from KB"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "b2c3d4e5-0004-4000-8000-000000000004",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [360, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.RAG_API_URL }}/ask",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"question\": {{ JSON.stringify($json.text) }},\n  \"top_k\": 4\n}",
        "options": {
          "retry": { "retry": true, "maxTries": 3, "waitBetweenTries": 1500 },
          "timeout": 45000
        }
      },
      "id": "b2c3d4e5-0005-4000-8000-000000000005",
      "name": "Query Knowledge Base",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 180],
      "notesInFlow": true,
      "notes": "Calls the RAG Engine (Project 3) /ask endpoint for a grounded answer."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.answered }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        }
      },
      "id": "b2c3d4e5-0006-4000-8000-000000000006",
      "name": "Confident Answer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 180]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Intent').item.json.chatId }}",
        "text": "={{ $json.answer }}",
        "additionalFields": {}
      },
      "id": "b2c3d4e5-0007-4000-8000-000000000007",
      "name": "Reply with Answer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1040, 80]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Intent').item.json.chatId }}",
        "text": "Thanks for reaching out! A human agent will follow up shortly.",
        "additionalFields": {}
      },
      "id": "b2c3d4e5-0008-4000-8000-000000000008",
      "name": "Reply Escalation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [600, 360]
    },
    {
      "parameters": {
        "chatId": "={{ $env.SUPPORT_TEAM_CHAT_ID }}",
        "text": "=New ticket needs a human:\nFrom chat {{ $('Parse Intent').item.json.chatId }}\nCategory: {{ $('Parse Intent').item.json.intent.category }} (priority {{ $('Parse Intent').item.json.intent.priority }})\nMessage: {{ $('Parse Intent').item.json.text }}",
        "additionalFields": {}
      },
      "id": "b2c3d4e5-0009-4000-8000-000000000009",
      "name": "Notify Human Team",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [820, 360]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Classify Intent (LLM)", "type": "main", "index": 0 }]]
    },
    "Classify Intent (LLM)": {
      "main": [[{ "node": "Parse Intent", "type": "main", "index": 0 }]]
    },
    "Parse Intent": {
      "main": [[{ "node": "Route by Intent", "type": "main", "index": 0 }]]
    },
    "Route by Intent": {
      "main": [
        [{ "node": "Reply Escalation", "type": "main", "index": 0 }, { "node": "Notify Human Team", "type": "main", "index": 0 }],
        [{ "node": "Query Knowledge Base", "type": "main", "index": 0 }],
        [{ "node": "Reply Escalation", "type": "main", "index": 0 }, { "node": "Notify Human Team", "type": "main", "index": 0 }]
      ]
    },
    "Query Knowledge Base": {
      "main": [[{ "node": "Confident Answer?", "type": "main", "index": 0 }]]
    },
    "Confident Answer?": {
      "main": [
        [{ "node": "Reply with Answer", "type": "main", "index": 0 }],
        [{ "node": "Reply Escalation", "type": "main", "index": 0 }, { "node": "Notify Human Team", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "Support Agent - Error Handler",
    "saveDataErrorExecution": "all",
    "saveExecutionProgress": true
  },
  "tags": [{ "name": "portfolio" }, { "name": "autonomous-agent" }],
  "meta": {
    "description": "Telegram support agent: classify intent with an LLM, answer questions from a RAG knowledge base, escalate billing/complaints/low-confidence to a human. Failures route to the Error Handler."
  }
}
